.homepage-bgimage {
  width: 100%;
}
.homepage-bgimage > .forgetPasswordPage {
  padding-left: 50px;
  padding-top: 5px;
  padding-right: 50px;
  width: 100%;
  height: auto;
  margin: 0px auto 0px auto;
  border-radius: 10px;
}
.homepage-bgimage > .forgetPasswordPage > .logo {
  text-align: center;
}
.homepage-bgimage > .forgetPasswordPage > .forgetPasswordContent {
  margin-top: 80px;
  height: 100%;
}
.homepage-bgimage
  > .forgetPasswordPage
  > .forgetPasswordContent
  > .loginInTitle {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
  font-family: "Montserrat";
}

.homepage-bgimage > .forgetPasswordPage > .forgetPasswordContent > .subHeading {
  font-size: 16px;
  color: white;
  font-family: "Montserrat";
}

.homepage-bgimage > .forgetPasswordPage > .forgetPasswordContent > .errorMsg {
  width: 100%;
}

.homepage-bgimage > .forgetPasswordPage > .forgetPasswordContent > .btnGrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 190px;
  font-family: "Montserrat";
}

.homepage-bgimage
  > .forgetPasswordPage
  > .forgetPasswordContent
  > .btnGrp
  > .cancelBtn {
  background-color: #777e84;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 8px 25px;
}
.homepage-bgimage
  > .forgetPasswordPage
  > .forgetPasswordContent
  > .btnGrp
  > .sendBtn {
  background-image: linear-gradient(to right, #24b1e3, #103e67);
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 8px 35px;
  margin-left: 25px;
}
@media only screen and (min-width: 768px) {
  .homepage-bgimage {
    width: unset;
    height: unset;
  }
  .homepage-bgimage > .forgetPasswordPage {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    height: 536px;
    width: 475px;
    background-color: white;
    margin: 0px auto 0px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 109, 109, 0.8);
  }
  .homepage-bgimage > .forgetPasswordPage > .logo {
    text-align: center;
  }
  .homepage-bgimage > .forgetPasswordPage > .forgetPasswordContent {
    margin-top: 50px;
    height: unset;
  }
  .homepage-bgimage
    > .forgetPasswordPage
    > .forgetPasswordContent
    > .loginInTitle {
    font-size: 22px;
    font-weight: bold;
    color: #103e67;
    font-family: "Montserrat";
  }

  .homepage-bgimage
    > .forgetPasswordPage
    > .forgetPasswordContent
    > .subHeading {
    font-size: 18px;
    width: unset;
    color: #24b1e3;
    font-family: "Montserrat";
  }

  .homepage-bgimage > .forgetPasswordPage > .forgetPasswordContent > .errorMsg {
    width: 100%;
  }

  .homepage-bgimage > .forgetPasswordPage > .forgetPasswordContent > .btnGrp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
    font-family: "Montserrat";
  }

  .homepage-bgimage
    > .forgetPasswordPage
    > .forgetPasswordContent
    > .btnGrp
    > .cancelBtn {
    background-color: #777e84;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 25px;
  }
  .homepage-bgimage
    > .forgetPasswordPage
    > .forgetPasswordContent
    > .btnGrp
    > .sendBtn {
    background-image: linear-gradient(to right, #24b1e3, #103e67);
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 35px;
    margin-left: 10px;
  }
}
