@import url('https://fonts.googleapis.com/css?family=Montserrat');

html * {
  font-family: 'Montserrat'
}









@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat'), local('Montserrat'), 
   url(https://fonts.googleapis.com/css?family=Montserrat) 
   format('woff2');
  
}

      
    




body {
  margin: 0;
  font-family: 'Montserrat !important'
  
}




code {
  font-family: 'Montserrat !important',
  
}
 